*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

@font-face {
    font-family: Helvetica;
    src: url(./font/HelveticaNowDisplay-Black.ttf);
}

html, body{
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
}

#main{
    width: 100%;
    height: 100%;
    background-color: beige;
    color: rgb(120, 73, 12);
}

#nav{
    padding: 30px 70px ;
    display: flex;
    justify-content: space-between;
}

#nav h1{
    font-size: 25px
}

#nav a{
    color: rgb(120, 73, 12);
    font-size: 25px;
    margin-right: 30px;
    text-decoration: none;
}

#main > h1{
    font-size: 300px;
    font-weight: 400px;
    padding-left: 80px;
}

#btmleft{
    width: 300px;
    position: absolute;
    bottom: 20%;
    left: 5%;
}

#btmleft h3{
    font-size: 30px;
}

#btmleft h4{
    font-size: 25px;
}

#btmleft{
    font-size: 18px;
}

#btmbar{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 70px;
}

#btmbar a{
    color: rgb(120, 73, 12);
    text-decoration: none;
    font-size: 20px;
}

#main img{
    position: absolute;
}

#first{
    height: 250px;
    top: 46%;
    left: 69%;
    z-index: 3;
}

#second{
    height: 190px;
    top: 49%;
    left: 50%;
}

#third{
    height: 230px;
    top: 62%;
    left: 60%;
    z-index: 2;
}