h1{
    color: red;
    background-color: black;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-transform:uppercase;
}

#box1{
    height: 200px;
    width: 200px;
    background: linear-gradient(orange, violet,aqua);
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: center;
}

#box2{
    height: 200px;
    width: 200px;
    background: radial-gradient(rgb(255, 119, 0),rgb(155, 0, 155));
}

#box3{
    height: 200px;
    width: 200px;
    background: conic-gradient(white,black,blue,green,red,yellow);
    border-radius: 50%;
}

