body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: orangered;
}

#container{
    background-color: aqua;
    height: 700px;
    width: 85%;
    display: flex;
}

#rengoku_img{
    border-radius: 10px;
    height: 400px;
    width: 700px;
    margin: 20px;
}

#inner{
    background-color: aquamarine;
    direction: ltr;
}

#rengoku_edit{
    height: 300px;
    width: 400px;
    margin: 10px;
    
}
