*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

@mixin flex-column($gap: 0rem ){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;

    section{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;

        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 10px;
            }
        }

        .bottom{
            background-color: grey;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            border-radius: 10px;
            gap: 1.5rem;
            
            .text{
                display: flex;
                flex-direction: column;
                gap: 0.7rem;

                h1{
                    font-weight: 400;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

                p{
                    font-weight: 100;
                    font-size: 1.5rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }
            }

            button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    background-color: white;
                    border-radius: 10px;
            }

        }
    }
}

@media (min-width:900px){
    main{
        background-color: red;

        section{
            flex-direction: row;
            padding: 1rem 3rem;

            .top, .bottom{
                width: 50%;
            }

            .bottom{
                justify-content: space-between;
            }
            }
        }
}