*{
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    text-align: center;
    padding-top: 6%;
}

h1{
    color: greenyellow;
}

h2{
    color: greenyellow;
}

button{
    background-color: pink;
    color: black;
    border: none;
    border-radius: 7px;
    height: 50px;
    width: 100px;
}

