html, body{
    height: 100%;
    width: 100%;
}

#parent{
    height: 50px;
    width: 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

.box{
    height: 100%;
    width: 100%;
    background-color: black;
}

.box:nth-child(2){
    background-color: white;
}

