* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #ffff;
    font-family: MonaSansVariable;
    box-sizing: border-box;
    overscroll-behavior: none;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

@font-face {
  font-family: 'MonaSansVariable';
  src: url("./fonts/Mona_Sans/TTF/Mona-Sans-Regular.ttf");
}

@font-face {
    font-family: MonaSans;
    src: url("./fonts/MonaSans-Black.ttf");
}

@font-face {
    font-family: MonaSanslighter;
    src: url("./fonts/Mona_Sans/TTF/Mona-Sans-Medium.ttf");
}

@font-face {
    font-family: alkaline;
    src: url(./fonts/AlkalineCapsTest-Heavy-BF676e1b6c38124.otf);
}

#nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

#nav a{
    text-decoration: none;
    color: #0d0c22;
    margin: 16px;
}

#logo{
    font-family: alkaline;
    font-size: 23px;
}

#rightnav #login{
    color: white;
    background-color: #0d0c22;
    padding: 10px;
    border-radius: 20px;
}

#container{
    font-family: MonaSans;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 25px;
    margin: 20px 70px;
}

#options a{
    text-decoration: none;
    color: #0d0c22;
    font-family: MonaSanslighter;
    margin: 8px;
    padding: 10px;
    /* border: 1px solid #0d0c22; */
    border-radius: 20px;
    transition: ease 0.35s;
}

#options a:hover{
    background-color: #0d0c22;
    color: white;
}

#search{
    position: relative;
    display: inline-block;
}

#search input{
    width: 600px;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding-left:30px;
    background-color: #f3f3f6;
}

#search img{
    height: 20px;
    position: absolute;
    top: 10px;
    left: 94%;
}

#search input::placeholder{
    color: #0d0c22;
    opacity: 0.8;
    font-family: MonaSansVariable;
}

#popular{
    margin-top: 30px;
}

#popular a{
    text-decoration: none;
    color: #0d0c22;
    font-family: MonaSanslighter;
    font-size: 13px;
}

.btnstyle{
    margin: 5px;
    border: 1px solid #0d0c22;
    padding: 7px;
    border-radius: 20px;
}

#title > h1{
    font-size: 60px;
    font-style: italic;
}

#title > h4{
    font-family: MonaSansVariable;
    font-weight: lighter;
}

#rightcon video{
    height: 400px;
    border-radius: 8px;
}

/* ⬆️ container section over */

#liner{
    box-sizing: border-box;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 35px;
    margin: 0px 60px;
    background-color: #f3f3f6;
}

#liner a{
    text-decoration: none;
    color: #0d0c22;
    font-family: MonaSansLighter;
}

#menu a{
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
}

#discover a{
    margin: 10px;
    /* border: 0.2px solid black; */
    padding: 12px;
    border-radius: 20px;
    text-align: center;
    transition: ease 0.4s;
}

#discover a:hover{
    background-color: #c5c5c6;
}

#filter a{
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
}

#cardsection{
    margin: 50px 90px;
    display: flex;
    flex-wrap: wrap;
}

.con a{
    text-decoration: none;
    font-family: MonaSansVariable;
    color: #0d0c22;
}

.card{
    height: 320px;
    width: 290px;
    background-color: white;
    position: relative;
    margin: 20px 20px 10px 20px;
    overflow: hidden;
    border-radius: 5px;
}

.card video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.bottom{
    height: 30%;
    width: 100%;
    background:linear-gradient(transparent, black);
    position: absolute;
    bottom: -40%;
    transition: all ease 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom a{
    margin: 20px;
    font-family: MonaSansLighter;
    font-size: 20px;
    color: #f3f3f6;
}

.bottom img{
    margin: 20px;
}

.card:hover .bottom{
    bottom: 0;
}

.con{
    display: inline-block;
    text-align: center;
}

/* Card Section ⬆️ */

#parent{
    height: 250px;
    width: 100%;
    /* background-color: #333; */
    padding: 30px 10px;
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    overflow: auto;
    scroll-behavior: smooth;
    transition: all ease 0.4s;
}

/* #parent:hover{
    background-color: #c5c5c6;
} */

#parent::-webkit-scrollbar{
    display: none;
}

.child{
    height: 100%;
    width: 300px;
    /* background-color: aqua; */
    border-radius: 10px;
    flex-shrink: 0;
}

.child img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#cursor{
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(50%, 50%);
    transition: top 0.05s ease, left 0.05s ease;
    margin: 0%;
    padding: 0%;
    z-index: 4;
}